<br>
<br><br>
<h1 align="center">What are the statistics ?</h1>
<p align="center">Loreum Ipsum is simply dummy text of the printing and typesetting industry</p>
<hr width="200px;" color="#DAA520" ALIGN="center" size="4" >


<div class="row">
    <div class="column">
      <div class="card">
        <a routerLink='carts5'>
        
        <div><h3>1.564</h3><h4>Project Complete</h4></div>
        </a>
    </div>
    </div>
  
    <div class="column">
      <div class="card">
        <a routerLink='carts5'> 
            
            <div><h3>4.700</h3><h4>Happy Client</h4></div>
        </a>
        </div>
    </div>
    
    <div class="column">
      <div class="card">
        <a routerLink='carts5'>
            
            <div><h3>4.351</h3><h4>Concept Art</h4></div>
        </a>
        </div>
    </div>
    
    <div class="column">
      <div class="card">
        <a routerLink='carts5'>
            <div><h3>7 YEARS</h3><h4>Years of foundation</h4></div>
        </a>
        </div>
    </div>
  </div>

