<br><br>
<h2>What are our services ?</h2>
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
<hr width="200px;" color="#DAA520" ALIGN="left" size="5" >
<div class="row">
    <div class="column">
      <div class="card">
        <a routerLink='carts3'>
        <div class="trend"><b>Trend</b></div>
        <br>
        <img src="./assets/images/comt3.jpg"  class="img" height="200px" width="200px"> 
        
        <div class="com" ><h3>Loreum Ipsum</h3><br>Loreum Ipsum has been the industry standard dummy text ever since the 1500s.
          When an unknowm printer took a gallery.</div>
        </a>
        <ul id="menu">
          <li class="blue" ><a routerLink="/" >48.99</a></li>&nbsp;&nbsp;&nbsp;
          <li class="gold"><a routerLink="/">Incelle</a></li>

        </ul>
        
    </div>
    </div>


  
  
    <div class="column">
      <div class="card">
        <a routerLink='carts3'>
          <div class="trend"><b>Trend</b></div>
        <br>
            <img src="./assets/images/cont2-2.jpg"  class="img" height="200px" width="200px"> 
            
            <div class="com" ><h3>Loreum Ipsum</h3><br>Loreum Ipsum has been the industry standard dummy text ever since the 1500s.
              When an unknowm printer took a gallery.</div>     
        </a>
        <ul id="menu">
          <li class="blue" ><a routerLink="/" >48.99</a></li>&nbsp;&nbsp;&nbsp;
          <li class="gold"><a routerLink="/">Incelle</a></li>

        </ul>
        </div>
    </div>
    
    <div class="column">
      <div class="card">
        <a routerLink='carts3'>
          <div class="trend"><b>Trend</b></div>
        <br>
            <img src="./assets/images/comp4.jpg"  class="img" height="200px" width="200px"> 
            
            <div class="com" ><h3>Loreum Ipsum</h3><br>Loreum Ipsum has been the industry standard dummy text ever since the 1500s.
              When an unknowm printer took a gallery.</div>
        </a>
        <ul id="menu">
          <li class="blue" ><a routerLink="/" >48.99</a></li>&nbsp;&nbsp;&nbsp;
          <li class="gold"><a routerLink="/">Incelle</a></li>

        </ul>
        




        </div>
    </div>
    
    <div class="column">
      <div class="card">
        <a routerLink='carts3'>
          <div class="trend"><b>Trend</b></div>
        <br>
            <img src="./assets/images/comp6-2.png"  class="img" height="200px" width="200px"> 
            <div class="com" ><h3>Loreum Ipsum</h3><br>Loreum Ipsum has been the industry standard dummy text ever since the 1500s.
              When an unknowm printer took a gallery.</div>
        </a>
        <ul id="menu">
          <li class="blue" ><a routerLink="/" >48.99</a></li>&nbsp;&nbsp;&nbsp;
          <li class="gold"><a routerLink="/">Incelle</a></li>

        </ul>
        </div>
    </div>
  </div>
