h1{
    text-align: center;
    color: black;
}
h4,h3{
    text-align: center;
    color: black;
}
p{
  color: black;
}
hr{
  border-radius: 10px;
}



.img:hover {
  transform: scale(1.5);
}
.column {
    float: left;
    width: 20%;
    padding: 0 20px;
  }
  .row {margin: 0 -5px;}
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    
  }
  h2,h4{
      color: black;
  }