<br><br><br><br>
<h1>We are digital marketing expert</h1>
<h4>Lorem Ispum is simply dumpy text of the printing and typesetting industry</h4>
<hr width="200px;" color="#DAA520" ALIGN="center" size="5" > 
<div class="row">
    <div class="column">
      <div class="card">
        <a routerLink='carts'>
        <img src="./assets/images/cont2-1.jpg"  class="img" height="200px" width="200px"> 
        
        <div class="com" ><h3>Loreum Ipsum</h3><p>Loreum Ipsum has been the industry standard dummy text ever since the 1500s.
          When an unknowm printer took a gallery.
        </p></div>
        
        </a>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <a routerLink='carts'>
            <img src="./assets/images/cont2-2.jpg"  class="img" height="200px" width="200px"> 
            <div class="com" ><h3>Loreum Ipsum</h3><p>Loreum Ipsum has been the industry standard dummy text ever since the 1500s.
              When an unknowm printer took a gallery.
            </p></div>
            </a>
      </div>
    </div>
    
    <div class="column">
      <div class="card">
        <a routerLink='carts'>
            <img src="./assets/images/cont2-3.jpg"  class="img" height="200px" width="200px"> 
            <div class="com" ><h3>Loreum Ipsum</h3><p>Loreum Ipsum has been the industry standard dummy text ever since the 1500s.
              When an unknowm printer took a gallery.
            </p></div>
            </a>
      </div>
    </div>
    
    <div class="column">
      <div class="card">
        <a routerLink='carts'>
            <img src="./assets/images/cont2-4.jpg"  class="img" height="200px" width="200px"> 
            <div class="com" ><h3>Loreum Ipsum</h3><p>Loreum Ipsum has been the industry standard dummy text ever since the 1500s.
              When an unknowm printer took a gallery.
            </p></div>
            </a>
      </div>
    </div>
  </div>
