<br><br><br><br>
<img src="./assets/images/comp4.jpg" ALIGN="left" class="img" width="240" height="450px">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<h3 ALIGN="center">Why chose us</h3>
<h1 ALIGN="center">Because we are best agency</h1>
<hr width="200px;" color="#DAA520" ALIGN="center" size="3" width="100px"  > 
<ul id="menu" ALIGN="right">
    <li>
        <a routerLink='carts4'>
            
        <div class="choose"><h3>Loreum Ipsum</h3>Loreum Ipsum is simply dummy text of the printing and typesetting industry</div>
    </a>
    </li>
    
    <li>
        <a routerLink='carts4'>
            <div class="choose"><h3>Loreum Ipsum</h3>Loreum Ipsum is simply dummy text of the printing and typesetting industry</div>
        </a>
    </li>
    <li>
        <a routerLink='carts4'>
            <div class="choose"><h3>Loreum Ipsum</h3>Loreum Ipsum is simply dummy text of the printing and typesetting industry</div>
        </a>
    </li>
</ul>

