<body>
    <div class=bgcolor>
    <div class="com1">
        
    <img src="./assets/images/img.jpg" ALIGN="right" class="img" width="240" height="240">
    <div class="abc"><b>Creative Digital Thinking</b></div>
    
    <hr width="50px;" color="#DAA520" ALIGN="left"
            size="5"> 
    <p><b>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
         Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a type specimen book.</b>
    </p>
    <a routerLink="/">
    <div class="but"><b>Lorem Ipsum</b></div>
    </a>
    
    </div>
    </div>
    </body>