<h1 align="center">Latest News</h1>
<p align="center">Loreum Ipsum is simply dummy text of the printing and typesetting industry</p>
<hr width="200px;" color="#DAA520" ALIGN="center" size="4" >
<div class="row">
    <div class="column">
      <div class="card">
        <a routerLink='carts6'>
        <img src="./assets/images/comp6-1.jpg"  class="img" width="200px" height="200px"> 
        
        <div class="com" ><h3>Loreum Ipsum</h3><br><p>Loreum Ipsum has been the industry standard dummy text
           <span id="dots1">...</span><span id="more1">Lorem ipsum is a name for a common type of placeholder text.
              Also known as filler or dummy text.</span></p></div>
            </a>
        <button (click)="but1()"id="myBtn1">Read more</button>
     
    </div>
    </div>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="column">
      <div class="card">
        <a routerLink='carts6'>
            <img src="./assets/images/comp6-2.png"  class="img" width="200px" height="200px"> 
            
            <div class="com" ><h3>Loreum Ipsum</h3><br><p>Loreum Ipsum has been the industry standard dummy text
              <span id="dots2">...</span><span id="more2">Lorem ipsum is a name for a common type of placeholder text.
                 Also known as filler or dummy text.</span></p></div>
                </a>
           <button (click)="but2()"id="myBtn">Read more</button>
         
        
        </div>
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="column">
      <div class="card">
        <a routerLink='carts6'>
            <img src="./assets/images/comp6-3.png"  class="img" width="200px" height="200px"> 
            
            <div class="com" ><h3>Loreum Ipsum</h3><br><p>Loreum Ipsum has been the industry standard dummy text
              <span id="dots3">...</span><span id="more3">Lorem ipsum is a name for a common type of placeholder text.
                 Also known as filler or dummy text.</span></p></div>
                </a> 
           <button (click)="but3()"id="myBtn">Read more</button>
         
        </div>
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="column">
      <div class="card">
        <a routerLink='carts6'>
            <img src="./assets/images/comp6-4.png"  class="img" width="200px" height="200px"> 
            <div class="com" ><h3>Loreum Ipsum</h3><p>Loreum Ipsum has been the industry standard dummy text
              <span id="dots4">...</span><span id="more4">Lorem ipsum is a name for a common type of placeholder text.
                 Also known as filler or dummy text.</span></p></div>
                </a> 
           <button (click)="but4()"id="myBtn">Read more</button>
         
        </div>
    </div>
  </div>

